@charset "utf-8";

h1 {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-size: 2em !important;
	font-weight: bold !important;
}
h2 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 10px 0;
	font-weight: bold !important;
	text-transform: uppercase;
}
h3 {
	font-family: 'Roboto', sans-serif;
	padding: 5px 0;
	font-weight: bold !important;
}
h4 {
	font-family: 'Roboto', sans-serif;
	padding: 5px 0;
	font-weight: bold !important;
}
p {
	text-align: justify;
}

.bg-body {
	background-color: #17202A;
}

/* Imagenes */
.aimg {
	max-width: 200px;
	margin: 0 20px;
	float: right;
	border: 1px solid #ccc;
}
.cimg {
	max-width: 700px;
	margin: 40px auto;
	border: 1px solid #ccc;
}
.timg {
	width: 100%;
}
.cita {
	font-size: 11px;
}

/*    Adaptar videos de yt a la página    */
.delimitador {
	max-width: 800px;
	margin: 20px auto;
}
.vid-yt {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}
.vid-yt iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}

header {
	/*background-image: url(imagenes/photovoltaic-2138994.jpg);
	background-size: cover;
	background-attachment: fixed;*/
	width: 100%;
}
#cabecera {
	/*background-color: rgba(255,255,255,0.5);*/
	/* background-color: #1B4F72; */
	/* background: linear-gradient(141deg, rgba(36,106,153,1) 0%, rgba(27,79,114,1) 51%, rgba(18,53,76,1) 75%); */
	/*background-image: url(imagenes/cabecera.png);
	background-size: cover;*/
	/* border-left: 1px solid #fff; */
	/* border-right: 1px solid #fff; */
	padding: 10px 30px 10px 30px;
	margin: 0;
}
/* Logotipo */
#contlogo {
	width: 10%;
	float: left;
}
#logo {
	background-image: url(imagenes/logopanel.svg);
	/* margin: 10px 10px 10px 30px; */
	width: 100%;
	padding-top: 83.3333333%;
	background-repeat: no-repeat;
}
.logonav {
	width: 120px;
	float: left;
	padding: 10px 20px;
}

#google {
	position: fixed;
	top: 10px;
	right: 10px;
}
#q {
	background: url(http://www.google.com/cse/static/images/1x/googlelogo_lightgrey_46x16dp.png) left center no-repeat #fff;
}
button {
	vertical-align: middle;
	border-radius: 10px;
	background-color: grey;
}
button:hover {
	background-color: silver;
}

/* Redes sociales/Contacto */
#socialm {
	position: absolute;
	float: right;
	top: 5px;
	right: 30px;
}
#socialm>a {
	float: left;
	margin: 0 5px;
}
.rsocial a{
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}
.smicon {
	width: 24px;
	height: 24px;
}
.smicon:hover {
	transform:scale(1.3,1.3);
	transition: all 0.5s ease;
}
#fb {
	background-image: url(imagenes/sm/facebook.svg);
}
#tw {
	background-image: url(imagenes/sm/twitter.svg);
}
#gp {
	background-image: url(imagenes/sm/google+.svg);
}
#em {
	background-image: url(imagenes/sm/mailed.svg);
}


.content {
	background-color: #FFC103;
	width: 100%;
	padding: 15px 0px;
}
.principal{
	font-family: 'Roboto', sans-serif;
	color: #17202A;
	background-color: #F7F7F7;
	padding: 20px 50px;
	border-radius: 10px;
	min-height: 1080px;
}
.articulo {
	/* border: 1px solid #2D404C; */
	font-family: 'Roboto', sans-serif;
	color: #17202A;
	background-color: #F7F7F7;
	border-radius: 10px;
	padding: 20px 100px;
	min-height: 1080px;
}

.gotop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	padding: 5px;
	border-radius: 3px;
	/* background-color: #CDE4F2; */
	background-color: rgba(205,228,242,0.5);
	transition: background-color 0.7s ease;
}
.gotop:hover {
	background-color: #FFC103;
	transition: all 0.7s ease;
}
.gotopimg {
	background-image: url(imagenes/inicio.svg);
	width: 2em;
	height: 2em;
	background-size: cover;
	background-repeat: no-repeat;
}

footer {
	clear: left;
	background-color: #2D404C;
	padding: 10px;
}
.logof {
	margin: 10px;
	width: 80px;
	filter: grayscale(100%);
}

@media (max-width: 1200px){
	.articulo {
	padding: 20px 60px;
	}
}
@media (max-width: 992px){
	.articulo {
	padding: 20px 40px;
	}
}
@media (max-width: 768px){
	.articulo {
		padding: 20px 20px;
	}
	.aimg {
		float: none;
		margin: 30px auto;
	}
}

.ppt {
	color: #F7F7F7;
	text-shadow: 1px 1px 1px #111111;
	background-color: #17202A;
	letter-spacing:1px;
	display: inline-block;
	padding: 8px 16px;
	margin: 0;
	text-transform: uppercase;
}
.ppt-color {
	background-color: #2D404C;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
	border-left: 1px solid #F7F7F7;
	border-right: 1px solid #F7F7F7;
}
.ppst-color {
	background-color: #2D404C;
	text-align: center;
	margin: 30px 0px;
	border-left: 1px solid #F7F7F7;
	border-right: 1px solid #F7F7F7;
}
.margen {
	padding-bottom: 10px;
}
.test {
	height: 300px;
	/* border: 1px solid #ccc; */
	overflow: hidden;
	/* border-radius: 4px; */
	position: relative;
}
.test2 {
	height: 600px;
	/* border: 1px solid #ccc; */
	overflow: hidden;
	/* border-radius: 4px; */
	position: relative;
}
.test-img-th {
	background-position: 50% 50%;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
	transition: all 0.35s ease;
}
.quees{
	background-image: url(imagenes/solar-photovoltaic-2666105.jpg);
}
.historia{
	background-image: url(imagenes/historia.jpg);
}
.autoconsumo {
	background-image: url(imagenes/autoconsumo.jpg);
}
.paneles {
	background-image: url(imagenes/paneles.jpg);
}
.mono {
	background-image: url(imagenes/monocristalino.jpg);
}
.poli {
	background-image: url(imagenes/policristalino.jpg);
}
.capa {
	background-image: url(imagenes/capafina.jpg);
}
.inversor {
	background-image: url(imagenes/inversores.jpg);
}
.regulador {
	background-image: url(imagenes/regulador.jpg);
}
.img-th-sc:hover .test-img-th {
	transform: scale(1.02);
	transition: all 0.35s ease;
	opacity: 0.8;
}
 .img-th-sc:hover .indx-link > a > h4 {
	 color: #FFC103;
 }

.indx-link {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 15px;
	/* background-color: #2D404C; */
	background: linear-gradient(to bottom,rgba(0,0,0,0)0,#17202A 100%);
}
.indx-link > a > h4 {
	color: #F7F7F7;
	/* font-family: 'Roboto', sans-serif; */
	text-shadow: 1px 1px 1px #111111;
	/* font-weight: bold; */
	/* font-size: 24px; */
	/* letter-spacing:1px; */
	margin: 0;
	text-transform: uppercase;
}
.indx-link > a:hover {
	color: #FFC103;
}

.nopadding {
	padding: 0 !important;
	border: 1px solid #F7F7F7;
}